<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hemlig tomte</title>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="/css/snow.css">
    <style>
        #app, .content {
            width: 100%;
            height: 100%;
            color: white;
        }
        .content {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
        }
        ul {
            list-style: none;
        }
        li {
            padding: 4px 4px;
        }
        a {
            color: white;
        }
    </style>
</head>
<body>
<div id="app">
    <div class="snow" v-for="i in 50"></div>
    <div class="content">
        <div v-if="listView">
            <ul>
                <li v-for="person in people">
                    <a :href="'/jul?n=' + [[ person.name ]]">[[ person.name ]]</a>
                </li>
            </ul>
        </div>
        <div v-if="!listView">
            <h1>[[ selected.name ]]</h1>
            <ul>
                <li v-for="wish in selected.wishes">
                    [[ wish ]]
                </li>
            </ul>
        </div>
        <div></div>
    </div>
</div>

<script>
    const {createApp} = Vue

    createApp({
        delimiters: ["[[", "]]"],
        data() {
            const params = new URLSearchParams(window.location.search)
            const hasName = params.has('n')
            const name = hasName ? params.get('n') : ""
            const data = [
                {name: 'Kalle', wishes: ['two', 'three']},
                {name: 'Aika', wishes: ['two', 'three']},
                {name: 'Anna', wishes: ['two', 'three']},
                {name: 'Eivor', wishes: ['two', 'three']},
                {name: 'Erik', wishes: ['two', 'three']},
                {name: 'Stina', wishes: ['two', 'three']},
                {name: 'Maria', wishes: ['two', 'three']},
                {name: 'Janne', wishes: ['two', 'three']},
                {name: 'Kajsa', wishes: ['two', 'three']},
                {name: 'Jonas', wishes: ['two', 'three']},
            ]
            return {
                listView: !hasName,
                name: name,
                people: data,
                selected: data.filter(x => x.name.toLowerCase() === name.toLowerCase())[0]
            }
        }
    }).mount('#app')
</script>
</body>
</html>